version = 1;

globals:
{
	usecolor = true;
}

calendar:
{
	events =
	(
		{
			start       = 1386532800;
			warnTime    = 3600;
			warnCount   = 3;
			period      = "weekly";
			description = "EU/NA Development Game";
		},
		{
			start       = 1390017600;
			warnTime    = 3600;
			warnCount   = 3;
			period      = "weekly";
			description = "AU/NA Development Game";
		},
		{
			start       = 1385856000;
			warnTime    = 86400;
			warnCount   = 1;
			period      = "firstofmonth";
			description = "Release Day";
		}
	)
}

irc:
{
	servers =
	(
		{
			host     = "irc.freenode.net";
			port     = 6667;
			password = "";
			nick     = "mantisbot";

			channels =
			(
				{
					name     = "##mantis";
					password = "";
					noPlayerPeekBroadcasts = true;
				},
				{
					name     = "##mantis2";
					password = "";
				}
			)
		},
		{
			host     = "irc.quakenet.org";
			port     = 6667;
			password = "";
			nick     = "mantisbot";

			channels =
			(
				{
					name     = "##mantis";
					password = "";
					noPlayerPeekBroadcasts = true;
				},
				{
					name     = "##mantis2";
					password = "";
				}
			)
		}
	)
}

unvquery:
{
	master   = "unvanquished.net";
	port     = 27950;
	protocol = 86;
}

github:
{
	owner      = "Unvanquished";
	repository = "Unvanquished";
}
